// Define variables for colors and other common styles

$primary: #1976D2;
$light-primary: #CFE8FF;
$dark: #363949;
$light: #f6f6f9;
$grey: #eee;
$dark-grey: #AAAAAA;
$danger: #D32F2F;
$light-danger: #FECDD3;
$warning: #FBC02D;
$light-warning: #FFF2C6;
$success: #388E3C;
$light-success: #BBF7D0;

.teacherPanel{
    

display: flex;
height: 100vh;

    .sidebar {
     
        background: $light;
        width: 230px;
        height: 100%;
        z-index: 2000;
        overflow-x: hidden;
        scrollbar-width: none;
        transition: all 0.3s ease;
      
        // Hide scrollbar for webkit browsers
        &::-webkit-scrollbar {
          display: none;
        }
      
        // When the sidebar is closed
        &.close {
          width: 60px;
        }
      
        // Logo styles
        .logo {
          font-size: 24px;
          font-weight: 700;
          height: 56px;
          display: flex;
          align-items: center;
          color: $primary;
          z-index: 500;
          padding-bottom: 20px;
          box-sizing: content-box;
      
          // Logo name span color
          .logo-name {
            span {
              color: $dark;
            }
          }
      
          // Logo icon
          .bx {
            min-width: 60px;
            display: flex;
            justify-content: center;
            font-size: 2.2rem;
          }
        }
      
        // Side menu styles
        .side-menu {
          width: 100%;
          margin-top: 48px;
      
          li {
            height: 48px;
            background: transparent;
            margin-left: 6px;
            border-radius: 48px 0 0 48px;
            padding: 4px;
      
            // Active state styles
            &.active {
              background: $grey;
              position: relative;
      
              // Top shadow circle
              &::before {
                content: "";
                position: absolute;
                width: 40px;
                height: 40px;
                border-radius: 50%;
                top: -40px;
                right: 0;
                box-shadow: 20px 20px 0 $grey;
                z-index: -1;
              }
      
              // Bottom shadow circle
              &::after {
                content: "";
                position: absolute;
                width: 40px;
                height: 40px;
                border-radius: 50%;
                bottom: -40px;
                right: 0;
                box-shadow: 20px -20px 0 $grey;
                z-index: -1;
              }
            }
      
            a {
              width: 100%;
              height: 100%;
              background: $light;
              display: flex;
              align-items: center;
              border-radius: 48px;
              font-size: 16px;
              color: $dark;
              white-space: nowrap;
              overflow-x: hidden;
              transition: all 0.3s ease;
      
              // Active link color
              .active & {
                color: $success;
              }
      
              // Sidebar closed state
              .sidebar.close & {
                width: calc(48px - (4px * 2));
                transition: all 0.3s ease;
              }
      
              .bx {
                min-width: calc(60px - ((4px + 6px) * 2));
                display: flex;
                font-size: 1.6rem;
                justify-content: center;
              }
            }
      
            // Logout link color
            a.logout {
              color: $danger;
            }
          }
        }
      }


      .content-box{
        width: 100%;
        .navbar {
            background-color:#CFE8FF ;
            position: relative;
            width: calc(100% - 230px);
            left: 230px;
            transition: all 0.3s ease;
          
            &.sidebar.close {
              width: calc(100% - 60px);
              left: 60px;
            }
          
            nav {
              height: 56px;
              background: var(--light);
              padding: 0 24px 0 0;
              display: flex;
              align-items: center;
              grid-gap: 24px;
              position: sticky;
              top: 0;
              left: 0;
              z-index: 1000;
          
            
          
             
              .bx.bx-menu {
                cursor: pointer;
                color: black;
              }
          
              form {
                max-width: 400px;
                width: 100%;
                margin-right: auto;
          
                .form-input {
                  display: flex;
                  align-items: center;
                  height: 36px;
          
                  input {
                    flex-grow: 1;
                    padding: 0 16px;
                    height: 100%;
                    border: none;
                    background: #eee;
                    border-radius: 36px 0 0 36px;
                    outline: none;
                    width: 100%;
                    color: var(--dark);
                  }
          
                  button {
                    width: 80px;
                    height: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background: #1976D2;
                    color: #f6f6f9;
                    font-size: 18px;
                    border: none;
                    outline: none;
                    border-radius: 0 36px 36px 0;
                    cursor: pointer;
                  }
                }
              }
          
           
            }
          }
          
          
    
        .lead{
    
    
          
    
    
    
    
    
          
              
              
              
                .cardContainer {
                  display: flex;
                  justify-content: space-evenly;
                  gap: 10px;
                  padding: 15px;
                
              
                .card {
                    background-color: white;
                    height:80px;
                 
                    border:none;
                    border-bottom: 5px #dcdce5 solid;
                    padding: 8px 4px;
                    width: 180px;
                   
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    
                     text-align: center;
              
                  .icon {
                    font-size: 2rem;
                    margin-bottom: 10px;
                  }
              
                  .value {
                    font-size: 2.5rem;
                    font-weight: 600;
                    margin-bottom: 5px;
                  }
              
                  .title {
                    font-size: 1rem;
                    font-weight: 500;
                  }
                  .green{
                    color: #86e68b;
                  }
                  .blue{
                    color: #87c3ff;
                  }
                  .orange{
                    color: rgb(255, 198, 93);
                  }
                  .red{
                    color: #ff6060;
                  }

                  .voilet{
                    color: rgb(255, 147, 255);
                  }
                }
              }


           
              
        
                .planning {
                  display: grid;
                  grid-template-columns: 1fr 1fr;
                  gap: 10px;
                  margin-top: 20px;
                  
                 
              
                  .item {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    padding: 20px;
                    background-color: #F7F7F7;
                    border-radius: 20px;
              
                    .left {
                      
                      .icon {
                        width: 50px;
                        height: 50px;
                        border-radius: 12px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        
                        // Define specific styles for icons based on item position
                        &:nth-child(1) {
                          background: #D1E6F9;
                          
                          i {
                            color: #369FFF;
                          }
                        }
              
                        &:nth-child(2) {
                          background: #F9E5D2;
              
                          i {
                            color: #FF993A;
                          }
                        }
              
                        &:nth-child(3) {
                          background: #E2EDD2;
              
                          i {
                            color: #8AC53E;
                          }
                        }
              
                        &:nth-child(4) {
                          background: #F9F0D3;
              
                          i {
                            color: #FFD143;
                          }
                        }
                      }
              
                      
                    }
                    .right{
                        display: flex;
                        flex-direction: column;


         .details{
            display: flex;
            gap: 10px;
         }        
                  
         
         .body{
            display: flex;
            gap: 10px;
            .badge{
    padding: 5px 10px;
    background-color: #eeeeee;
    border-radius: 15px;
                }
         }

         .footer{
            display: flex;
            gap: 15px;
         }
                    }
              
                    > i {
                      cursor: pointer;
                    }
                  }


                  .right{
                    
                  }
                }
              
              
              
              
              
             
              
          }
      }
    
     
        
}

