
.studentPreference{

    .cardContainer{
        display: flex;
        gap: 10px;
    }
    
    
    .card{
        background-color: white;
        height: 68px;
        border:2px #dcdce5 solid;
        padding: 8px 4px;
        width: 100px;
        border-radius: 8px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .card img{
    width: 30px;
    height: 30px;
    border-radius: 50px;
    }



}

