.studentSubject{



    
    .cardContainer{

        display: flex;
        flex-wrap: wrap;
        gap: 20px;
   
        
        }
        
        .card{
          
           display: flex;
           flex-direction: column;
           justify-content: center;
           align-items: center;
           gap: 10px;
            background-color: white;
           height: 68px;
           border:2px #dcdce5 solid;
           padding: 8px 4px;
           width: 100px;
           border-radius: 8px;
           display: flex;
           align-items: center;
           justify-content: center;
           
        }
        
        .card:hover{
            border-radius: 1px solid black;
        }
        
        h1{
            font-size: 1.625rem;
            font-weight: 500;
        }
        
        p{
            color: rgb(91, 91, 91);
        }
        
        
        
        

}

