
form {
    width: 50%;
    margin: 2vw auto;
    display: flex;
    flex-direction: column;
    gap: 1.5vw;
}

p {
    line-height: 1.5vw;
}

.name, .mail {
    display: flex;
    flex-direction: column;
    gap: .5vw;
}

.name input, .mail input {
    padding: .7vw;
    border: 2px solid silver;
    border-radius: 10px;
    font-size: 1.3vw;
}

.name input:hover, .mail input:hover {
    border: 2px solid black;
}

.name input:focus, .mail input:focus {
    border: 1px solid blue;
    outline: 1px solid blue;
}

.col {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.col .lang, .col .level {
    display: flex;
    flex-direction: column;
    gap: 1vw;
}

.col .lang, .col .level {
    width: 45%;
}

.col .lang select, .col .level select {
    padding: 1vw;
    border: 2px solid silver;
    border-radius: 10px;
    font-size: 1.1vw;
}

.col .delete {
    display: flex;
    flex-direction: column;
    gap: 3vw;
}

.col .delete i {
    font-size: 1.5vw;
    transform: translateY(70%)
}

button {
    width: 45%;
    align-self: flex-end;
    background-color: #ffab00;
    font-size: 1.2vw;
    padding: .7vw;
    border-radius: 10px;
    border: 2px solid black;
    cursor: pointer;
}

button:hover {
    background-color: #ffaa00a7;
}

@media (max-width: 950px) {
    form {
        width: 95%;
        gap: 5vw;
    }
    
    p {
        line-height: 6vw;
    }
    
    .name, .mail {
        display: flex;
        flex-direction: column;
        gap: .5vw;
    }
    
    .name input, .mail input {
        padding: 3vw;
        font-size: 5vw;
    }
    
    .col .lang select, .col .level select {
        padding: 4vw 2vw;
        font-size: 4vw;
    }
    
    .col .delete {
        gap: 10vw;
    }
    
    .col .delete i {
        font-size: 5vw;
    }
    
    button {
        width: 100%;
        font-size: 5vw;
        padding: 3vw;
    }
}