.studentAvailability{



    h1{
        font-size: 32px;
        font-weight: 500;
    }
    p{
        color: #4d4c5c;
        font-size: 16px;
    }
    
    .time{
        display: flex;
        flex-direction: column;
        gap: 15px;
    }
    
    .time h1{
    color: #121117;
    
    }
    .time p{
        color: #4d4c5c;
    }
    
    .cardContainer{
        display: flex;
        gap: 10px;
    }
    
    
    .card{
        background-color: white;
        height: 68px;
        border:2px #dcdce5 solid;
        padding: 8px 4px;
        width: 100px;
        border-radius: 8px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
    
    
    .card svg{
    width: 30px;
    height: 30px;
    border-radius: 50px;
    }
    
    button{
        background-color:rgb(255, 171, 0) ;
        border-color:#121117;
        text-decoration: unset;
        font-size: 18px;
        padding: 16px 32px;
        border-radius: 8px;
    }












}
