// Define variables for colors and other common styles

$primary: #1976D2;
$light-primary: #CFE8FF;
$dark: #363949;
$light: #f6f6f9;
$grey: #eee;
$dark-grey: #AAAAAA;
$danger: #D32F2F;
$light-danger: #FECDD3;
$warning: #FBC02D;
$light-warning: #FFF2C6;
$success: #388E3C;
$light-success: #BBF7D0;

.teacherPanel{
    

display: flex;
height: 100vh;

    .sidebar {
     
        background: $light;
        width: 230px;
        height: 100%;
        z-index: 2000;
        overflow-x: hidden;
        scrollbar-width: none;
        transition: all 0.3s ease;
      
        // Hide scrollbar for webkit browsers
        &::-webkit-scrollbar {
          display: none;
        }
      
        // When the sidebar is closed
        &.close {
          width: 60px;
        }
      
        // Logo styles
        .logo {
          font-size: 24px;
          font-weight: 700;
          height: 56px;
          display: flex;
          align-items: center;
          color: $primary;
          z-index: 500;
          padding-bottom: 20px;
          box-sizing: content-box;
      
          // Logo name span color
          .logo-name {
            span {
              color: $dark;
            }
          }
      
          // Logo icon
          .bx {
            min-width: 60px;
            display: flex;
            justify-content: center;
            font-size: 2.2rem;
          }
        }
      
        // Side menu styles
        .side-menu {
          width: 100%;
          margin-top: 48px;
      
          li {
            height: 48px;
            background: transparent;
            margin-left: 6px;
            border-radius: 48px 0 0 48px;
            padding: 4px;
      
            // Active state styles
            &.active {
              background: $grey;
              position: relative;
      
              // Top shadow circle
              &::before {
                content: "";
                position: absolute;
                width: 40px;
                height: 40px;
                border-radius: 50%;
                top: -40px;
                right: 0;
                box-shadow: 20px 20px 0 $grey;
                z-index: -1;
              }
      
              // Bottom shadow circle
              &::after {
                content: "";
                position: absolute;
                width: 40px;
                height: 40px;
                border-radius: 50%;
                bottom: -40px;
                right: 0;
                box-shadow: 20px -20px 0 $grey;
                z-index: -1;
              }
            }
      
            a {
              width: 100%;
              height: 100%;
              background: $light;
              display: flex;
              align-items: center;
              border-radius: 48px;
              font-size: 16px;
              color: $dark;
              white-space: nowrap;
              overflow-x: hidden;
              transition: all 0.3s ease;
      
              // Active link color
              .active & {
                color: $success;
              }
      
              // Sidebar closed state
              .sidebar.close & {
                width: calc(48px - (4px * 2));
                transition: all 0.3s ease;
              }
      
              .bx {
                min-width: calc(60px - ((4px + 6px) * 2));
                display: flex;
                font-size: 1.6rem;
                justify-content: center;
              }
            }
      
            // Logout link color
            a.logout {
              color: $danger;
            }
          }
        }
      }


      .content-box{
        width: 100%;
        .navbar {
            background-color:#CFE8FF ;
            position: relative;
            width: calc(100% - 230px);
            left: 230px;
            transition: all 0.3s ease;
          
            &.sidebar.close {
              width: calc(100% - 60px);
              left: 60px;
            }
          
            nav {
              height: 56px;
              background: var(--light);
              padding: 0 24px 0 0;
              display: flex;
              align-items: center;
              grid-gap: 24px;
              position: sticky;
              top: 0;
              left: 0;
              z-index: 1000;
          
            
          
             
              .bx.bx-menu {
                cursor: pointer;
                color: black;
              }
          
              form {
                max-width: 400px;
                width: 100%;
                margin-right: auto;
          
                .form-input {
                  display: flex;
                  align-items: center;
                  height: 36px;
          
                  input {
                    flex-grow: 1;
                    padding: 0 16px;
                    height: 100%;
                    border: none;
                    background: #eee;
                    border-radius: 36px 0 0 36px;
                    outline: none;
                    width: 100%;
                    color: var(--dark);
                  }
          
                  button {
                    width: 80px;
                    height: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background: #1976D2;
                    color: #f6f6f9;
                    font-size: 18px;
                    border: none;
                    outline: none;
                    border-radius: 0 36px 36px 0;
                    cursor: pointer;
                  }
                }
              }
          
           
            }
          }
          .analyse {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 1.6rem;
        
            > div {
              background-color:white;
              padding: 1.8rem;
              border-radius: 2rem;
              margin-top: 1rem;
              box-shadow:0 2rem 3rem rgba(132, 139, 200, 0.18);
              cursor: pointer;
              transition: all 0.3s ease;
        
              &:hover {
                box-shadow: none;
              }
        
              .status {
                display: flex;
                align-items: center;
                justify-content: space-between;
              }
            }
        
            h3 {
              margin-left: 0.6rem;
              font-size: 1rem;
            }
        
            .progresss {
              position: relative;
              width: 92px;
              height: 92px;
              border-radius: 50%;
        
              .percentage {
                position: absolute;
                top: -3px;
                left: -1px;
                display: flex;
                align-items: center;
                justify-content: center;
                height: 100%;
                width: 100%;
              }
            }
        
            svg {
              width: 7rem;
              height: 7rem;
        
              circle {
                fill: none;
                stroke-width: 10;
                stroke-linecap: round;
                transform: translate(5px, 5px);
              }
            }
        
            .sales svg circle {
              stroke: #1B9C85;
              stroke-dashoffset: -30;
              stroke-dasharray: 200;
            }
        
            .visits svg circle {
              stroke: #FF0060;
              stroke-dashoffset: -30;
              stroke-dasharray: 200;
            }
        
            .searches svg circle {
              stroke: #6C9BCF;
              stroke-dashoffset: -30;
              stroke-dasharray: 200;
            }
          }
      
          .stepper-wrapper {
            margin-top: auto;
            display: flex;
            justify-content: space-between;
            margin-bottom: 20px;
          }
          
          .stepper-item {
            position: relative;
            display: flex;
            flex-direction: column;
            align-items: center;
            flex: 1;
          
            @media (max-width: 768px) {
              font-size: 12px;
            }
          
            &::before {
              position: absolute;
              content: "";
              border-bottom: 2px solid #ccc;
              width: 100%;
              top: 20px;
              left: -50%;
              z-index: 2;
            }
          
            &::after {
              position: absolute;
              content: "";
              border-bottom: 2px solid #ccc;
              width: 100%;
              top: 20px;
              left: 50%;
              z-index: 2;
            }
          
            .step-counter {
              position: relative;
              z-index: 5;
              display: flex;
              justify-content: center;
              align-items: center;
              width: 40px;
              height: 40px;
              border-radius: 50%;
              background: #ccc;
              margin-bottom: 6px;
            }
          
            &.active {
              font-weight: bold;
            }
          
            &.completed {
              .step-counter {
                background-color: #4bb543;
              }
          
              &::after {
                border-bottom: 2px solid #4bb543;
                z-index: 3;
              }
            }
          
            &:first-child::before {
              content: none;
            }
          
            &:last-child::after {
              content: none;
            }
          }
          
          

          .leadDescription{

display: flex;


.leadDetail{
    width: 60%;
     padding: 10px 20px;
     display: flex;
     flex-direction: column;
     gap: 10px;
     align-items: center;
     justify-content: center;


  .studentProfile{


display: flex;
flex-direction: column;
gap: 15px;


.name{
  box-shadow:0 5px 5px rgba(128, 128, 128, 0.18);
  display: flex;
  gap: 15px;
  border-left: 2px solid rgb(189, 118, 255);
}
.contact{
  box-shadow:0 5px 5px rgba(128, 128, 128, 0.18);
  display: flex;
  gap: 15px;
  border-left: 2px solid rgb(189, 118, 255);
}
.email{
  box-shadow:0 5px 5px rgba(128, 128, 128, 0.18);
  display: flex;
  gap: 15px;
  border-left: 2px solid rgb(189, 118, 255);
}

  }

.tutionRequired{

  display: flex;
  flex-direction: column;
  gap: 25px;


.cardHeader{
  display: flex;
  gap: 25px;
  justify-content: center;
  align-items: center;
}


.cardBody{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;



.dayPreference{
  display: flex;
  gap: 15px;
  border-left: 2px solid rgb(255, 149, 122);
}
.timing{
  display: flex;
  gap: 15px;
  border-left: 2px solid rgb(133, 255, 122);
}
}

.cardFooter{
  display: flex;


  .location{
    display: flex;
    gap: 15px;
    border-left: 2px solid rgb(122, 146, 255);
  }


}

.card{



  h6{
    font-size:22px;
    font-weight: 700;
  }
  p{
    font-size: 18px;
  }
  
  .badgeContainer{

   
  
  display: flex;
    .badge{
      padding: 5px 10px;
      background-color: #eeeeee;
      border-radius: 15px;
                  }}
  
  
  
  
  }






}

}

            .reminders {
                
                flex-grow: 1;
                flex-basis: 300px;
        
                .task-list {
                  width: 100%;
        
                  li {
                    width: 100%;
                    margin-bottom: 16px;
                    background:#eee;
                    padding: 14px 10px;
                    border-radius: 10px;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
        
                    .task-title {
                      display: flex;
                      align-items: center;
        
                      p {
                        margin-left: 6px;
                      }
                    }
        
                    .bx {
                      cursor: pointer;
                    }
        
                    &.completed {
                      border-left: 10px solid #388E3C;;
                    }
        
                    &.not-completed {
                      border-left: 10px solid  #D32F2F;
                    }
        
                    &:last-child {
                      margin-bottom: 0;
                    }
                  }
                }
              }







          }
         
               
         
         
          
    
        
      }
    
    
        
      
        


}

